
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 2rem;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 999px;
  padding: 10px 15px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.search-icon {
  color: #888;
  font-size: 18px;
  margin-right: 10px;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 15px;
  color: #333;
}

.search-button {
  background-color: #0394D5;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.search-button:hover {
  transform: scale(1.05);
}

.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.tag {
  padding: 8px 16px;
  background: #888;
  color: white;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .search-container {
    margin-top: 1.2rem;
    gap: 10px;
  }
}